<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <view
               class="org.eclipse.dltk.logconsole.example.LogConsoleExampleView"
               id="org.eclipse.dltk.logconsole.example.View"
               name="Log Console Example"
               restorable="false">
         </view>
   </extension>
</plugin>
