<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.scriptDocumentationProviders">
      <provider
      		id="org.eclipse.dltk.javascript.example.docprovider1"
            class="org.eclipse.dltk.javascript.example.docprovider.ExampleElementDocumentationProvider"
            nature="org.eclipse.dltk.javascript.core.nature">
      </provider>
   </extension>
	<extension point="org.eclipse.dltk.javascript.core.typeinfo">
    	<converter class="org.eclipse.dltk.javascript.example.docprovider.ExampleElementConverter"/>
	</extension>

</plugin>
